@import url(./_weight/intro__list-item_weight_normal.css);

.intro__list-item{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
}