.lead__caption{
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 0;
  align-self: start;
}

@media only screen and (max-width:780px){
  .lead__caption{
    padding-left: 24px;
  }
}

@media only screen and (max-width:330px){
  .lead__caption{
    padding-left: 16px;
  }
}